$red:#d45a45;
.container_carousel {
	display: block;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.container_img_carousel {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.img_carousel {
	width: 100%;
}

	.button_slider {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: white;
}

.button_slider:hover {
	background-color: $red;
}

.container_button_slider {
display: block;
position: relative;
width: 100%;
text-align: center;
	top: -25px;
}
.container_slider1 {
	position: absolute;
	width: 100%;
	top: 48px;
}

@media screen and (min-width:600px) and (max-width:1024px) {
	
.container_carousel {
	height: 400px;
}


.container_img_carousel {
	height: 400px;
}
}
