
::selection{
	background-color: $red;
	color: white;
}
body{
	font-family: 'Roboto', sans-serif;
	color:#2a2a2a;
}

html, body{
    min-height: 100% !important;
    height: 100%;
}

html{
	box-sizing:border-box;
}
*, *:before, *:after{
	box-sizing:inherit;
}
.error-message{
	color:$red;
	font-weight:500;
}
.maps_black{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 2;
	position: absolute;
	top:0;
}
.maps{
	width: 100%;
	height: 100%;
	background-color: #222;
	z-index: 0;
}
.mask{
	
	width: 100%;
	height: 24px;
	background: center url('../img/mask.png');
	position: absolute;
	top: 100%;
	margin-top: -234px;
}
.contenu{
		height: 210px;
		position: absolute;
		width: 100%;
		margin-top: -210px!important;
		top: 100%;
		z-index: 3;
}
.contenu_active{
	height: 210px;
	position: absolute;
	bottom: auto;
	top: 150px;
	width: 100%;
	margin-top: 0;
}

.header_contenu{
	height:188px;
	background-color: $red;
	z-index: 2;
	padding: 0 24px 24px 24px;

	h2{
		height: 67px;
		width: 207px;
		padding-top: 20px;
		font-size: 16px;
		color: white;
		text-transform: uppercase;
		margin: 0;
		font-weight: 700;
		text-decoration: underline;
	}
	.header_contenu_info{
		margin-top: -10px;
		font-style: 16px;
		font-weight: 500;
		color: white;
		float: left;
	}
	.header_contenu_info_rep{
		margin-top: -10px;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		color:white;
		text-align: right;
		float: right;
	}
	
}
.contenu_top{

		background-color: $red;
		height: 48px;
		width: 100%;
		position: absolute;
		bottom: 0!important;
		left: 0;
		z-index: 2000;
		clear: both;
		
		.button_champs{
			float: left;
			width: 50%;
			color:$red;
			font-size: 16px;
			font-weight: 400;
			line-height: 48px;
			text-align: center;
			text-decoration: underline;
			display: none;

		}
		.button_champs:hover{
			background:#eee;
			// color: white;
			font-size: 18px;
			transition: 0.4s;
		}
	.button_champs:first-child{
		border-right: 1px solid $red;
	}
	}
.header_contenu_emploi{
	p{
		width: 95%;
		margin: 0;
		margin-bottom: 36px;
	}
	.btn_hand{
		padding:24px 0;
		width: 100%;
		text-align: center;
		background:#FFF;
		color: $red;
	}
	.hand{
		display: none;
	}
	color:#FFF;
	font-size:18px;
	width: 430px;
	font-weight:300;
}
.img_monument {
	height: 195px;
	width: 100%;
	border-bottom: solid 1px #d45b46;
	border-top: solid 1px #d45b46;

}


#img_monument {
	display: none;
	border-top: solid 1px #d45b46;
}


#Apropos {
	display: none;
}

.slide_contenu {
	transition: top 1s;
	z-index:4;
}

.contenu_propos {
	position: relative;
    top: 398px;
	margin: 0;
	padding: 24px;
	background-color: white !important;
	z-index: 5;
	border-bottom: solid $red 5px;

	p{
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
	}
	.contenu_propos_bold{
		font-weight: 700;
	}
	.contenu_propos_regular{
		font-weight: 500;
	}
	.contenu_propos_small{
		font-style: italic;
		font-weight: 300;
		font-size: 14px;
	}
	.contenu_propos_red{
		color: $red;
		font-style: italic;
	}
	.contenu_propos_sponsor{
		font-size: 14px;
		font-weight: 300;
		font-style: italic;
	}
	.contenu_propos_sponsor_bold{
		color: $red;
		font-weight: 700;
	}
}
.line {
	display: none;
}
.contain_fb_login{
    text-align: center;
    padding-top: 20px;
}


@media screen and (min-width:480px){
	.header_contenu_emploi{
		.hand{
			height: 80%;
		}
	}
	.line {
	display: block;
	position: relative;
	left: 0;
	height: 5px;
	width: 100px;
	background-color: $red;
}

	.contenu_info{
		float: right;
		margin-top: 45px;
		padding-left: 10px;
		width: 48%;
	}
	.titre_h2{
	display: block;
	position: absolute;
	top: 32px;
	width: 42%;
	height: 70px;
	text-align: center!important;
}
	.header_contenu h2{
		display: inline-block;
		text-decoration: none!important;
		padding: 24px;
		border: 1px white solid;
		border-radius: 2px;
	}

	.contenu_propos p{
		font-size: 18px;

		.contenu_propos_small{
			font-size: 16px;
		}

	}		
	.contenu_propos .contenu_propos_sponsor{
			font-size: 16px;
	}
	.img_monument{
		height: 471px;
	}
	.header_contenu_emploi{

	.btn_hand{
		display: none;
	}

	.hand{
		display: block;
		height: 60%;
		position: absolute;
		z-index: 10000;
		right: 0;
		bottom: 0;
		cursor: pointer;

	}
}

}
@media screen and (min-width:960px){
	.header_contenu_emploi{
		.hand{
			height: 100%;
		}
	}

}
