.profil{
	background:$red;
	padding:48px;
}
.contenu_profil{
	margin:0;
	color:#FFF;
	img{
		text-align: center;
		margin-bottom: 24px;
	}
	p{
		margin: 0;
		font-weight: 300;
		text-align: center;
		font-style: italic;
		margin-bottom: 24px;
	}
	h2{
		margin: 0;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 24px;
	}
	.reseau{
		text-align: center;
		padding:24px 0;
		width: 100%;
		background:#c55542;
		border-radius: 2px;
		margin-bottom: 24px;
	}
}