#Pinteret {
	display: none;
}
.img_curser{
	width: 100%;
	height: auto;
}
.clear{
	clear: both;
}
.pt_interet_logo{
	display: none;
}

.pt_interet{
	background: $grisfonce;
	border-bottom: 5px $red solid;
	position: relative;
	article{
		width: 100%;
		float: left;
		border-top: 1px solid #343434;
		color: white;
		font-size: 16px;
		padding: 24px;

		h3{
			font-weight: 700;
			margin: 0 0 24px 0;

		}
		p{
			font-weight: 100;
			float: left;
			margin: 0;
		}
		.pt_interet_right{
			float: right;
			margin: 0;
		}
	}
}
.pt_ic{
	position: absolute;
	text-align: center;
	width: 100%;
	margin-left: -24px;
	display: block;
	top:-28px;

}
.pt_icone{
	height: 56px;
	width: 56px;
	display: inline-block;
	margin: 0 25px;
	}
.resto{

	background: url(../img/small_resto.png);

	}

.hosto{

	background: url(../img/small_hosto.png);

	}
.parking{

	background: url(../img/small_parking.png);

	}

@media screen and (min-width:600px){

	.pt_interet_logo{
		
		width: 100%;
		height: 165px;
		background: #f0f0f0;
	}
	.pt_interet{
		background: $red;
		
		article{
			border-top: none;
			border-right: 1px white solid;
			min-width: 300px;
			width: 50%;
			
		}
	}
}