#Pinteret {
	display: none;
}
.img_curser{
	width: 100%;
	height: auto;
}
.clear{
	clear: both;
}
.pt_interet_logo{
	display: none;
}

.pt_interet{
	background: $grisfonce;
	border-bottom: 5px $red solid;
	position: relative;

	.pt_interet_lieu{
		width: 100%;
		float: left;

		.pt_ic{
			display: block;
		}
	}
	article{
		
		border-top: 1px solid #343434;
		color: white;
		font-size: 16px;
		padding: 24px;

		h3{
			font-weight: 700;
			margin: 0 0 24px 0;

		}
		p{
			font-weight: 100;
			display: inline;
			margin: 0;

		}
		.pt_interet_right{
			float: right;
			margin: 0;
		}
	}
}
.pt_ic{
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	
	display: block;
	top:-28px;

}
.pt_icone{
	height: 56px;
	width: 56px;
	display: inline-block;
	margin: 0 25px;
	}
.resto{

	background: url(../img/small_resto.png);

	}

.hosto{

	background: url(../img/small_hosto.png);

	}
.parking{

	background: url(../img/small_parking.png);

	}
.pt_interet_info{
	display: none;
}

@media screen and (min-width:480px){
	.pt_interet_logo{
		display: block;
		width: 100%;
		height: 165px;
		background: #f0f0f0;
		border-right: 1px solid #d1d1d1;
		border-top: 1px solid #d1d1d1;
		text-align: center;
		padding-top: 36px;

	}
	.pt_ic{

		margin-left: -48px;

		}
	.pt_interet{
		background: $red;
		border-bottom: 5px $grisfonce solid;
		.pt_interet_lieu{
			width: 50%;
			position: relative;
			.pt_ic{
				display: none;
			}

		}
		
		article{
			border-top: none;
			border-right: 1px white solid;
			min-width: 300px;
			width: 100%;
			background: $red;
			padding:24px 48px;
			
		}
	}
.resto{

	background: url(../img/med_resto.png);

	}

.hosto{

	background: url(../img/med_hosto.png);

	}
.parking{

	background: url(../img/med_parking.png);

	}
	.pt_interet_info{
		display: block;
		background: #F0F0F0;
		padding:48px;
		font-size: 16px;
		h3{
			text-align: center;
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}